/* --------------------------------------------Article cover--------------------------------------------------------*/
article:first-child{
    height:80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url("../sources/vraiSite/cover/planchesCover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

