/*------------------------------------------Article Espace presse---------------------------------------------------*/

.video-responsive {
    aspect-ratio: 16/9;
    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin-top:-8%;
    margin-bottom:-8%;
}

.video-responsive iframe {
    height:60%;
    width:60%;
    position:absolute;
}


#edition2022 p{
    text-align: center;
    color:white;
}
#espacePresse_Credits{
    font-family: Inconsolata-Medium;
    font-size:1.3em;
    display: flex;
    justify-content: center;
    margin:0;

}

#edition2022 span{
    width:0.7%;
}

#edition2022Div2{
    margin-top:7%;
}
#edition2022 .miTexte{
    text-align: center;
    font-family: Inconsolata ;
    font-size:2em;
    margin-top:0;
    margin-bottom: 0;
    margin-left:10px;
    margin-right:10px;
}{

}
#edition2022 .barreTitreTexte_Odd{
    width:30%;
    height:10px;
    background-color: #f3e99f;
}
#edition2022 .divBarreTitreTexte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:-50px;
}

#edition2022 a{
    text-decoration: none;
}
#edition2022 .miMiTexte{
    font-size:1em;
    font-family: Arial;
    text-decoration: none;
}
#edition2022 .contactsDivs{
display: flex;

    flex-direction: column;
    align-items: center;

}
#edition2022 .contactsReseaux{
    display: flex;
    justify-content: center;
    align-items: center;


}
#edition2022 .contactsReseaux img{
    width:70%;
    margin:0;
    margin-top:13px;
    opacity: 0.70;
    transition : opacity .4s;
}
#edition2022 .contactsReseaux img:hover{
    opacity:1;
}

#edition2022 .contactsReseaux p{
    margin: 0;


}
#edition2022 a{
    text-align: center;
}
#edition2022 i{
    opacity:0.80;
    transition : opacity .4s;

    
}
#edition2022 i:hover{
    opacity:1;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------Responsive--------------------------------------------------*/

/*tablet*/
@media screen and (max-width: 1093px) {
}


/*mobile*/
@media screen and (max-width: 680px) and (orientation: portrait) {
    #divsEdition2022 .divSloganTexte{
        flex-direction: column;
        align-items: center;

    }
    #edition2022Div2{
        align-items: center;
    }
}