
/*--------------------------------------------Setup---------------------------------------------------*/
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url("../font/BebasNeue-Regular.ttf");
}
@font-face{
    font-family: 'BRLNSDB';
    src: url("../font/BRLNSDB");
}

@font-face {
    font-family: 'Teko-SemiBold';
    src:url("../font/Teko-SemiBold.ttf") format("truetype");

}

@font-face {
    font-family: 'Inconsolata-Medium';
    src: url("../font/Inconsolata-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'Inconsolata-Bold';
    src: url("../font/Inconsolata-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Proxima-Nova-Font';
    src: url("../font/Proxima-Nova-Font.otf") format("truetype");
}
@font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url("../font/Proxima-Nova-Bold.otf") format("truetype");
}

body{
    margin:0;
}


/*------------------------------------------Header---------------------------------------------------*/
header, footer{
    background-color: #1a1a1a;
    display: flex;
}
header{
    height:6vh;
    position: sticky; top: 0;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-self: center;
    padding: 10px;
    z-index:10;
}
#logo{
    margin-right:20px;
}
#logo img{
    margin-top:-20px;
    width:120px;
}

#openBtn{
    margin-top:0.5%;
    margin-left:25px;
}
#openBtn img{
    width:30%;
}
aside a {

}



/*-------------------------------------------------Footer---------------------------------------------------*/
footer{
    height:20vh;
    flex-direction: column;
}
footer p:last-child{
    text-align: center;
}
footer p a{
    text-decoration: unset;
    color:white;
    opacity:0.5;
}
footer p a:hover{
    opacity: 1;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:13px;
    margin-bottom:20px;
}
footer div p{
    font-size:17px;
    color:white;

}
#urlPreSales{
    opacity: 0.8;
}
#urlPreSales:hover{
    opacity: 1;
}

footer span{
    border : 0.1px solid;
    border-color: white;
    opacity:0.4;
    width:82%;
    margin-left:auto;
    margin-right:auto;
}




/*------------------------------------------Articles dans leur généralité---------------------------------------------------*/

article {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom:100px;
}
.marginDiv{
    margin-left:  4vw;
    margin-right: 4vw;
}

article:nth-child(odd){
    background-color: #f3e99f;
}
article:nth-child(even){

    background-color: #5b5b1b;
}

h1{
    font-family: Proxima-Nova-Bold;
    font-size: calc(30px + 2vw);
    margin-left:4vw;
    margin-top:3%;

}
.h1_Odd{
    color: #f3e99f;
}
.h1_Even{
    color: #5b5b1b;
}
.divSeparateur {
    width:600px;
    height:14px;
    margin-left:3%;
}
.divSeparateur_Odd{
    border-top: solid 5px #f3e99f;
    border-bottom: solid 3px #f3e99f ;
}
.divSeparateur_Even{
    border-top: solid 5px #5b5b1b;
    border-bottom: solid 3px #5b5b1b ;
}


.divSloganTexte{
    display: flex;
    flex-direction: row;
    paddin-top:20px;
    margin:0;

}
.sloganTexte{
    font-size:calc(13px + 1.7vw);
    font-family: BebasNeue-Regular;
    margin:0;
}
.barreTexteSlogan_Odd{
    width:1%;
    background-color:#f3e99f;
    margin-right:10px;
}
.barreTexteSlogan_Even{
    width:1%;
    background-color:#5b5b1b;
    margin-right:10px;

}
.normalTexte{
    font-size:calc(5px + 1vw);
    font-family: "Franklin Gothic Book";
    line-height: 1.5;
}



.btnInteraction{
    background-color: #1a1a1a;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;


}
.btnInteraction:hover{
    opacity:1;
}
.btnInteraction p{
    font-size:calc(7px + 1vw);
    text-align: center;
}
