/*petiteCover------------------*/
#infosGenerales #divPetiteCover{
    display: flex;
    justify-content: center;
    margin-bottom:5%;
}
#infosGenerales #divPetiteCover img{
    width:calc(100px + 40vw);
}

/*global------------------------*/
#infosGenerales #divInfosGenerales1{
    background-color: #5b5b1b;
    padding-top:2%;
    padding-bottom:4%;
}
#infosGenerales #sousDivInfosGenerales1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}




#infosGenerales #divInfosGenerales2{
    display: flex;
    justify-content: space-between;
}
#infosGenerales #divInfosGenerales1 .sloganTexte{
    color:white;
}
#infosGenerales #divInfosGenerales2 .barreTexteSlogan_Odd{
    background-color: #5b5b1b;
}
#divInfoGenerales_ElmtsBilleterie{
    display: flex;

}
#divInfoGenerales_ElmtsBilleterie img{
    padding-left:10px;
    padding-right:10px;


}

#divInfosGenerales3 .sousDivReseaux {
    display: flex;
    justify-content: space-between;
}
#divInfosGenerales3 .sousDivReseaux a{
    text-decoration: none;
}
#divInfosGenerales3 .sousDivReseaux p{
    font-size:1.4em;
    color: black;

    text-decoration: none;
    opacity:0.8;

}
#divInfosGenerales3 .sousDivReseaux p:hover{
    opacity: 1;
}


#infosGenerales .divSloganTexte{
    margin-bottom:30px;
 }

#divImgToiComment{
    display: flex;
    justify-content: center;
}




.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position: relative;
    height:0;

    display: flex;
    justify-content: center;

}

.map-responsive iframe{
    height:120%;
    width:80%;
    position:absolute;

}




#infosGenerales #divInfosGenerales1 img{
    width: 25vw;
}
#infosGenerales #divInfosGenerales2 img{
    width: 18vw;
    opacity: 0.8;
    transition: opacity .4s;

}
#infosGenerales #divInfosGenerales2 img:hover{
    opacity: 1;
}

#infosGenerales #divInfosGenerales2 .iconReseau{
    width:calc(50px + 1vw);
}

#infosGenerales .btnReserver{
    margin-top:5%;
    width: 60vw;
    height:6vh;
    background-color: #5b5b1b;
}
#infosGenerales .btnReserver p{
    color: #f3e99f;
}

.traitsInfosGenerales_Reseaux{
    height:3px;
    background-color:#5b5b1b;
}


/*----------------------------------------------------------------------------------------------Responsive--------------------------------------------------*/

/*tablet*/
@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 900px){

    #infosGenerales .divBarreTitreTexte{
        margin-bottom: 35px;
    }
    #infosGenerales #divPetiteCover img{
        width:80vw;
    }
   #infosGenerales divInfosGenerales2 #sousDivInfosGenerales2{
        text-align: center;
    }
    #infosGenerales #sousDivInfosGenerales1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #infosGenerales #sousDivInfosGenerales1 img{
        width:50vw;
        margin-top:-6%;
    }

    .map-responsive{
        margin:0;
        margin-top:-5%;
        margin-bottom:10%;

    }
    .map-responsive iframe{
        height:200%;
        width:90%;
    }

    #infosGenerales #divInfosGenerales2{
        flex-direction: column;
        align-items: center;
    }
    #infosGenerales #divInfoGenerales_ElmtsBilleterie {
        flex-direction: row;
        justify-content: center;
    }
    #infosGenerales #divInfosGenerales2 img{
        width: 30vw;
    }
    #infosGenerales #divInfosGenerales2{
        flex-direction: column-reverse;
        text-align: center;
    }

    #divInfosGenerales3{
        display : flex;
        flex-direction: column;
        align-items: center;
    }

    #sousDivInfosGenerales3{
        display: flex;
        justify-content: space-around;
    }

    #divInfosGenerales3 .sousDivReseaux{
        display: flex;
        flex-direction: row;

    }
    #divInfosGenerales3 .sousDivReseaux p{
        display: none;
    }
    #infosGenerales #divInfosGenerales2 .iconReseau{
        width:70%;
    }

    .traitsInfosGenerales_Reseaux{
        display: none;
    }

    #infosGenerales .btnReserver{
        width:70vw;
        height:50px;
    }
    #infosGenerales .divSloganTexte{
        text-align: center;

    }

}

/*mobile*/
@media screen and (max-width: 600px) and (orientation: portrait) {

    #infosGenerales .divBarreTitreTexte{
        margin-bottom: 35px;
    }
    #infosGenerales #divPetiteCover img{
        display: none;
    }
    #infosGenerales #sousDivInfosGenerales1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #infosGenerales #sousDivInfosGenerales1 img{
        width:80vw;
        margin-top:-10%;
    }

    .map-responsive{
        margin:0;
        margin-top:-10%;
        margin-bottom:10%;

    }
    .map-responsive iframe{
        height:200%;
        width:90%;
    }


    #infosGenerales #divInfosGenerales2{
        flex-direction: column;
    }
    #infosGenerales #divInfoGenerales_ElmtsBilleterie {

        flex-direction: column;
    }
    #infosGenerales #divInfosGenerales2 img{
        width: 66vw;
    }
    #infosGenerales #divInfosGenerales2{
        flex-direction: column-reverse;
        text-align: center;
    }

    #divInfosGenerales3{
        display : flex;
        flex-direction: column;
        align-items: center;
        height:35vh;
    }
    #sousDivInfosGenerales3{
        display: flex;
        justify-content: space-around;

    }

    #divInfosGenerales3 .sousDivReseaux{
        display: flex;
        flex-direction: row;

    }
    #divInfosGenerales3 .sousDivReseaux p{
        display: none;
    }
    #infosGenerales #divInfosGenerales2 .iconReseau{
        width:70%;
    }



    .traitsInfosGenerales_Reseaux{
        display: none;
    }

    #infosGenerales .btnReserver{
        width:70vw;
        height:7vh;
    }
}