
#valeurs #nosValeurs1{
    display: flex;
    flex-direction: row;
}
#valeurs #valeursDiv1{
    display: flex;
    flex-direction: row;


}
#valeurs #valeursDiv1 {
    justify-content: right;
    align-items: center;
    margin:0;
}
#valeurs #valeursDiv2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#valeurs #valeursDiv1 img{
    width: 30vw;
}


#valeursDiv2{
    margin-top:2.5%;
}



/*icon feuille*/
#valeurs #valeursDiv2 i{
 margin-right:5%;
}


/*----------------------------------------------------------------------------------------------Responsive--------------------------------------------------*/

/*tablet*/
@media screen and (max-width: 1100px) {


    #valeurs #nosValeurs1Div_Image{
        display: flex;
        align-items: center;
    }
    #valeurs #valeursDiv1 img{
        width:40vw;

    }
}

@media screen and (max-width: 900px){
    #valeurs p{
        text-align: center;
    }

    #valeurs #nosValeurs1{
        display: flex;
        flex-direction: column;
    }
    #valeurs #valeursDiv1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #valeurs #valeursDiv1 img{
        width:50vw;
        margin-bottom:0;
        margin:auto;

    }
    #valeurs .divSloganTexte{
        padding:0;

    }

    #nosValeurs2{
        margin-top:3%;
    }
    #valeurs #valeursDiv2{
        flex-direction: column-reverse;
    }
    #valeurs #valeursDiv2 i{
        margin-right:0%;
    }

    #valeurs .divSloganTexte{
        justify-content: center;
    }
}

/*mobile*/
@media screen and (max-width: 600px) and (orientation: portrait){
    #valeurs p{
        text-align: center;
    }

    #valeurs #nosValeurs1{
        display: flex;
        flex-direction: column;
    }
    #valeurs #valeursDiv1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #valeurs #valeursDiv1 img{
        width:80vw;
        margin-bottom:0;
        margin:auto;

    }
    #valeurs .divSloganTexte{
        padding:0;

    }

    #nosValeurs2{
        margin-top:3%;
    }
    #valeurs #valeursDiv2{
        flex-direction: column-reverse;
    }
    #valeurs #valeursDiv2 i{
        margin-right:0%;
    }

    #valeurs .divSloganTexte{
        justify-content: center;
    }
}