@font-face {
    font-family: 'Inconsolata-Medium';
    src: url("../font/Inconsolata-Medium.ttf") format("truetype")
}

*{
    background-image:url("../sources/bg.png");
    background-attachment: fixed;
   /* background-repeat:no-repeat;*/

}


/*-----------------------------------------------------------------------------*/

p{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 3.5%;

    font-family: Inconsolata-Medium;
}

p img{
    width:4%;
    margin-bottom : -2%;
}

#div1{
    display : flex;
    justify-content: space-around;
    height:60dvh;
    align-items: center;
    margin-bottom: -9%;
}

#childDiv1{
    margin-left:5.5%;
}
#childDiv2{
    margin-right: 0.5%;
}
#childDiv2 img{
width:90%;
}
#p1{
    width:100dvw;
    font-size:2.7em;
    color : #5D5B1D;
    margin-top: 8%;

}
#p1 #span1{
    display: block;
    margin-left:auto;
    margin-right:auto;

}
#p1 #span2{
    color:#D97A23;
    margin:0;
}

#p2{
    font-size : 2em;
}
#p2 a{
    color: #009FD0;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    #text_biblioteca {
        margin-left:24.553954%;
    }
    #image2_biblioteca {
        margin-left:24.165918%
    }
    #box2_biblioteca {
        margin-left:7.57416%
    }
}

/*------------------------------------------------------------------------*/
/*tablet*/
@media screen and (max-width: 1100px) {
    #childDiv1 img{
        width:110%;
    }
    #childDiv2 img{
        width:90%;
    }
    #p1{
        font-size: 2em;

         margin-bottom: 7%;
    }
    #p2{
        font-size:1.3em;
    }
}

/*mobile*/
@media screen and (max-width: 600px) and (orientation: portrait){

    #div1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top:25%;
        margin-bottom: 13%;
    }
    #childDiv1{
        margin-left:0%;
        order : 2;
    }
    #childDiv2{
        margin-right: 0%;
        order:3;

    }
    #childDiv3{
        order:1
    }
    #childDiv1 img{
        width:95%;
    }
    #childDiv2 img{
        width:100%;
    }
    #childDiv3 img{
        width:100%;
        margin-top:-5%;
    }


    #p1{
        width:95dvw;
        font-size: 1.7em;
        /*margin-top:25%;*/
        margin-bottom: 10%;
    }

    #p1 #span2{
        display: block;
        margin-top:3%;
        margin-bottom: 3%;
    }
    #p2 {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    #p2 a{
        margin-top:2.5%;
        margin-bottom:2.5%;
    }
    #p2 a img{
        width:10%;
        display: block;

       margin-left: auto;
        margin-right:auto;

    }
}

@media screen and (max-width:600px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
