
#programmation #programmationDiv1 img{
    width:calc(100px + 40vw);
}
#programmation #programmationDiv2 img{
    width:calc(100px + 40vw);
}


#programmationDivGlobal{
    margin-top:5px;

}
#programmationDiv1{
    display:flex;
    justify-content: left;
}

#programmationDiv2{
    display:flex;
    justify-content: right;
    margin-left:-2px;
    margin-top: 9vh;
    background-color: #5b5b1b;
    padding:70px;
    padding-bottom: 90px;
}

#programmationDiv1 div{
    display: flex;
    margin-left:20px;
}
#programmationDiv1 div  div{
    width:2%;
    margin-right:2%;
    background-color: #5b5b1b;
}
#programmationDiv1 p{
    font-family: BebasNeue-Regular;

}


#programmationDiv2 div{
    display: flex;
    margin-right:20px;
    text-align: right;
}
#programmationDiv2 div div{
    width:2.4%;
    margin-left :2%;
    background-color: #f3e99f;
}
#programmationDiv2 p{
    color:#f8f5da;
    font-family: BebasNeue-Regular;
}


.artistesListees{
    width:40vw;
    font-size: calc(2px + 2vw);
    margin-top:0;
}
.artistesListees a{
    text-decoration:none;
}
#programmationDiv1 .artistesListees a{
    color:black;
    opacity:0.80;
}
#programmationDiv2 .artistesListees a{
    color:white;
    opacity:0.80;
}#programmationDiv1 .artistesListees a:hover{
     opacity:1;
 }
#programmationDiv2 .artistesListees a:hover{
    opacity:1;
}

#divSloganTexteGastronomie{
    margin-top:14vh;
}
#divSloganTexteGastronomie div{
    width:0.6%;
    margin-left:10px;
}



/*Titre groupes*/
.divBarreGroupeTexte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.barreTitreGroupe_Even{
    width:37.5%;
    height:12px;
    background-color: #5b5b1b;
}
.barreTitreGroupe_Odd{
    width:37.5%;
    height:12px;
    background-color: #f3e99f;
}
.titreGroupe{
    width:25%;
    margin:0;
    margin-left:20px;
    margin-right:20px;
    font-size:4vw;
    font-family: BebasNeue-Regular;
    text-align: center;
}
.divIllustrationGroupe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divIllustrationGroupe .normalTexte{
    margin-bottom: 0;
    text-align: right;
    margin-left:3%;
}
.divVideoGroupe{
    aspect-ratio: 16/9;
    position:relative;

    display:flex;
    justify-content: right;
    align-items: center;
    padding:0;
    margin-bottom: -10%;
    margin-top:-10%;

}

.divVideoGroupe iframe {
    height:57.1%;
    width:57.1%;
    position:absolute;
}







#programmationDiv3{
    margin-top:5%;
}



/* groupe au cas par cas*/
#programmation  #programmationDiv3 #programmationDiv3-LesDeuxJours{
    background-color: #5b5b1b;
    padding-top:2.5%;
    padding-bottom: 2.5%;
    color:white;
}
.div3-GroupeIdentite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:7%;

}
.imgGroupe{
    width:33.2vw;
}
#divIdentiteGroupe1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}
#divIdentiteGroupe1 p{
    margin-bottom:-3%;
}
#divIdentiteGroupe7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}
#divIdentiteGroupe7 p{
    margin-bottom:-3%;
}